In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91969\anaconda\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91969\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\91969\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\91969\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91969\anaconda\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: idna in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\91969\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\91969\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91969\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91969\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91969\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

# Question no 1

In [3]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#opening the site
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//td[1][@align="center"]')
for i in rank:
    Rank.append(i.text)

In [6]:
len(Rank)

30

In [7]:
Date=[]
date=driver.find_elements(By.XPATH,'//td[@align="right"]')
for i in date[0:30]:
    Date.append(i.text)

In [8]:
len(Date)

30

In [9]:
Views=[]
views=driver.find_elements(By.XPATH,'//td[4][@align="center"]')
for i in views:
    Views.append(i.text)

In [10]:
len(Views)

30

In [14]:
Namee=[]
namee=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in namee:
    Namee.append(i.text.split('[')[0])

In [17]:
len(Namee)

30

In [18]:
Artist=[]
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)

In [20]:
len(Artist)

30

In [22]:
DF=pd.DataFrame({"Rank":Rank,"Name":Namee,"Artist":Artist,"Upload Date":Date,"Views":Views})
DF

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.37

# Question no 3

In [14]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
#opening the site
driver.get(" https://statisticstimes.com/")

In [18]:
Click=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
Click.click()

In [21]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [22]:
Rank=[]
rank=driver.find_elements(By.XPATH,'//td[1][@class="data1"]')
for i in rank[0:33]:
    Rank.append(i.text)

In [24]:
len(Rank)

33

In [44]:
Nameee=[]
nameee=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in nameee[0:33]:
    Nameee.append(i.text)

In [45]:
len(Nameee)

33

In [48]:
Grosss=[]
grosss=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in grosss[0:33]:
    Grosss.append(i.text.replace('-','NaN'))

In [33]:
Neww=[]
new=driver.find_elements(By.XPATH,'//td[3][@class="data"]')
for i in new[0:33]:
    Neww.append(i.text.replace('-','NaN'))

In [51]:
Shareee=[]
shareee=driver.find_elements(By.XPATH,'//td[5][@class="data"]')
for i in shareee[0:33]:
    Shareee.append(i.text.replace('-','NaN'))

In [50]:
Totall=[]
totall=driver.find_elements(By.XPATH,'//td[6][@class="data"]')
for i in totall[0:33]:
    Totall.append(i.text.replace('-','NaN'))

In [52]:
DF=pd.DataFrame({"Rank":Rank,"State":Nameee,"GSDP(18-19)-at current prices":Grosss,"GSDP(19-20)-at current prices":Neww,"Share(18-19)":Shareee,"GDP($billion)":Totall})
DF

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",NaN,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",NaN,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",NaN,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",NaN,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",NaN,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",NaN,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",NaN,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",NaN,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",NaN,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,NaN,NaN,NaN,NaN

# Question no 6

In [23]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [24]:
#opening the site
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [25]:
Totall=[]
totall=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in totall:
    Totall.append(i.text)

In [27]:
len(Totall)

100

In [28]:
Aut=[]
aut=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in aut:
    Aut.append(i.text)

In [30]:
len(Aut)

100

In [31]:
Vol=[]
vol=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in vol:
    Vol.append(i.text)

In [33]:
len(Vol)

100

In [34]:
Pub=[]
pub=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in pub:
    Pub.append(i.text)

In [36]:
len(Pub)

100

In [39]:
Genn=[]
gen=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in gen:
    Genn.append(i.text)

In [41]:
len(Genn)

100

In [42]:
DF=pd.DataFrame({"Book Name":Totall,"Author Name":Aut,"Volumes Sold":Vol,"Publisher":Pub,"Genre":Genn})
DF

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question no 7

In [3]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#opening the site
driver.get("https://www.imdb.com/list/ls095964455/")

In [9]:
Totalll=[]
totall=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in totall:
    Totalll.append(i.text.split('.')[1].replace('(         )',' '))

In [11]:
len(Totalll)

100

In [12]:
Aut=[]
aut=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in aut:
    Aut.append(i.text)

In [14]:
len(Aut)

100

In [15]:
Genre=[]
genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre:
    Genre.append(i.text)

In [18]:
len(Genre)

100

In [19]:
Time=[]
time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time:
    Time.append(i.text)

In [21]:
len(Time)

100

In [24]:
Rate=[]
rate=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate:
    Rate.append(i.text)

In [26]:
len(Rate)

100

In [27]:
Votes=[]
votes=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes:
    Votes.append(i.text)

In [28]:
DF=pd.DataFrame({"Name":Totalll,"Genre":Genre,"Run Time":Time,"Rating":Rate,"Votes":Votes,"Year Span":Aut})
DF

,Name,Genre,Run Time,Rating,Votes,Year Span
0,Game of Thrones (2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,153,288",(2011–2019)
1,Stranger Things (2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,235,386",(2016–2024)
2,The Walking Dead (2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,022,878",(2010–2022)
3,13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,028",(2017–2020)
4,The 100 (2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"259,959",(2014–2020)
...,...,...,...,...,...,...
95,Reign (2013–2017),Drama,42 min,7.4,"51,393",(2013–2017)
96,A Series of Unfortunate Events (2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,429",(2017–2019)
97,Criminal Minds (2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,807",(2005– )
98,Scream: The TV Series (2015–2019),"Comedy, Crime, Drama",45 min,7,"42,932",(2015–2019)
99,The Haunting of Hill House (2018),"Drama, Horror, Mystery",572 min,8.6,"256,408",(2018)

# Question no 9

In [3]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [7]:
search=driver.find_element(By.CLASS_NAME,"sugInp")
search.send_keys('Data science')

In [8]:
Click=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
Click.click()

In [9]:
Aut=[]
aut=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in aut[0:49]:
    Aut.append(i.text)

In [11]:
len(Aut)

49

In [14]:
Auttt=[]
auttt=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in auttt[0:49]:
    Auttt.append(i.text)

In [16]:
len(Auttt)

49

In [17]:
Comp=[]
comp=driver.find_elements(By.XPATH,'//a[2][@class="ellipsis"]')
for i in comp[0:49]:
    Comp.append(i.text)

In [19]:
len(Comp)

49

In [22]:
Skill=[]
skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill[0:49]:
    Skill.append(i.text)

In [24]:
len(Skill)

49

In [25]:
Loca=[]
loca=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in loca:
    Loca.append(i.text)

In [27]:
len(Loca)

49

In [29]:
DF=pd.DataFrame({"Name":Aut,"Designation":Auttt,"Company":Comp,"Skills they hire for":Skill,"Location":Loca})
DF

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# Question no 4

In [3]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
driver.get("https://github.com/trending")

In [5]:
Title=[]
title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title[0:22]:
    Title.append(i.text.split('/')[0])

In [6]:
len(Title)

22

In [13]:
Desc=[]
desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc[0:22]:
    Desc.append(i.text)

In [14]:
len(Desc)

22

In [9]:
Lang=[]
lang=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang[0:22]:
    Lang.append(i.text)

In [10]:
len(Lang)

22

In [11]:
repo_urls=[]

repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")

for i in repository[0:22]:

    repo_urls.append(i.get_attribute("href"))

In [12]:
repo_urls

[]

In [15]:
DF=pd.DataFrame({"Repository Title":Title,"Repository Description":Desc,"Language Used":Lang})
DF

,Repository Title,Repository Description,Language Used
0,xtekky,"decentralising the Ai Industry, just some lang...",Python
1,AIGC-Audio,"AudioGPT: Understanding and Generating Speech,...",Python
2,gaomingqi,Track-Anything is a flexible and interactive t...,Python
3,Eugeny,A terminal for a more modern age,TypeScript
4,whoiskatrin,AI tool to build charts based on text input,TypeScript
5,apple,The Foundation project,Swift
6,gmpetrov,The no-code platform for connecting custom dat...,TypeScript
7,deep-floyd,"Official implementation of the paper ""Segment ...",Python
8,UX-Decoder,WizardLM: Empowering Large Pre-Trained Languag...,Python
9,nlpxucan,[秋城落叶] QQ 音乐源无损歌曲下载,Python
10,QiuChenly,😎 Awesome lists about all kinds of interesting...,Python
11,sindresorhus,The Generative AI Landscape - A Collection of ...,Python
12,ai-collection,A GPT-empowered penetration testing tool,Rust
13,GreyDGL,An Open Source Financial Switch to make Paymen...,Python
14,juspay,Dark and Darker private server implementation ...,Python
15,Snaacky,NeMo Guardrails is an open-source toolkit for ...,Python
16,NVIDIA,Modular Auto-GPT Framework,Python
17,farizrahman4u,SkyAGI: Emerging human-behavior simulation cap...,Python
18,litanlitudan,The AutoGPT MetaTrader Plugin is a software to...,Python
19,isaiahbjork,Fine-tuning LLaMA to follow Instructions withi...,JavaScript
20,ZrrSkywalker,A full-featured download manager.,Python
21,agalwood,交易模块,JavaScript

# Question no 2

In [17]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
driver.get(" https://www.bcci.tv")

In [19]:
search=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [20]:
title=[]
Title=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/h5')
title.append(Title.text)

In [21]:
title

['ICC WORLD TEST CHAMPIONSHIP FINAL 2023']

In [22]:
Place=[]
place=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[3]/div')
Place.append(place.text.split('-')[1])

In [23]:
Place

[' Kennington Oval, London']

In [25]:
Date=[]
date=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[1]')
Date.append(date.text)

In [26]:
Date

['7 JUN 2023']

In [27]:
Time=[]
time=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div/div/div[1]/div/div[2]')
Time.append(time.text)

In [28]:
Time

['3:30 PM IST']

In [29]:
Df=pd.DataFrame({"Match Title":title,"Series":title,"Place":Place,"Date":Date,"Time":Time})
Df

,Match Title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Kennington Oval, London",7 JUN 2023,3:30 PM IST

# Quetion no 5

In [5]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [7]:
driver.get("https://www.billboard.com")

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
location.click()

In [9]:
hot=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
hot.click()

In [10]:
Loca=[]
loca=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in loca:
    Loca.append(i.text)

In [12]:
len(Loca)

100

In [13]:
Last=[]
last=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in last:
    Last.append(i.text.replace('-','NaN'))

In [15]:
len(Last)

100

In [16]:
Art=[]
art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in art:
    Art.append(i.text.replace('-','NaN'))

In [18]:
len(Art)

100

In [19]:
Peak=[]
peak=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peak:
    Peak.append(i.text.replace('-','NaN'))

In [21]:
len(Peak)

100

In [22]:
Week=[]
week=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in week:
    Week.append(i.text.replace('-','NaN'))

In [24]:
len(Week)

100

In [25]:
Df=pd.DataFrame({"Song Name":Loca,"Artist Name":Art,"Peak Rank":Peak,"Weeks On Board":Week,"Last Week Rank":Last})
Df

,Song Name,Artist Name,Peak Rank,Weeks On Board,Last Week Rank
0,Kill Bill,SZA,1,19,4
1,Last Night,Morgan Wallen,1,12,1
2,Flowers,Miley Cyrus,1,14,3
3,Princess Diana,Ice Spice & Nicki Minaj,4,1,NaN
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,5,5,10
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,3,96
96,Love Again,The Kid LAROI,40,12,88
97,'98 Braves,Morgan Wallen,27,7,100
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,99,1,NaN
99,It Matters To Her,Scotty McCreery,100,1,NaN

# Question no 8

In [26]:
#connect to the driver
driver=webdriver.Chrome(r"C:\Users\91969\Downloads\chromedriver_win32\chromedriver.exe")

In [27]:
driver.get("https://archive.ics.uci.edu")

In [28]:
set=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
set.click()

In [32]:
Namee=[]
name=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
for i in name[1:623]:
    Namee.append(i.text)

In [33]:
len(Namee)

622

In [57]:
Typee=[]
type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
for i in type[1:623]:
    Typee.append(i.text.replace(' ','-'))

In [36]:
len(Type)

622

In [43]:
Taskkk=[]
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:623]:
        Taskkk.append(i.text.replace(' ','-'))
except:
    Taskkk.append("No details available")

In [45]:
len(Taskkk)

622

In [46]:
Att=[]
att=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
for i in att[1:623]:
    Att.append(i.text.replace(' ','-'))

In [48]:
len(Att)

622

In [49]:
Inst=[]
inst=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
for i in inst[1:623]:
    Inst.append(i.text.replace(' ','-'))

In [51]:
len(Inst)

622

In [52]:
Num=[]
num=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
for i in num[1:623]:
    Num.append(i.text.replace(' ','-'))

In [54]:
len(Num)

622

In [55]:
Year=[]
year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
for i in year[1:623]:
    Year.append(i.text.replace(' ','-'))

In [58]:
DF=pd.DataFrame({"DataSet Name ":Namee,"Data Type":Typee,"Task":Taskkk,"Attribute Type":Att,"No of Instances":Inst,"No of Attributes":Num,"Year":Year})
DF

,DataSet Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate-,Classification-,"Categorical,-Integer,-Real-",4177-,8-,1995-
1,Adult,Multivariate-,Classification-,"Categorical,-Integer-",48842-,14-,1996-
2,Annealing,Multivariate-,Classification-,"Categorical,-Integer,-Real-",798-,38-,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems-,Categorical-,37711-,294-,1998-
4,Arrhythmia,Multivariate-,Classification-,"Categorical,-Integer,-Real-",452-,279-,1998-
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate-,Classification-,"Integer,-Real-",75840-,525-,2020-
618,Turkish Music Emotion Dataset,Multivariate-,Classification-,"Integer,-Real-",400-,50-,2020-
619,Maternal Health Risk Data Set,-,Classification-,-,1014-,7-,2020-
620,Room Occupancy Estimation,"Multivariate,-Time-Series-",Classification-,Real-,10129-,16-,2021-
621,Image Recognition Task Execution Times in Mo...,Univariate-,Regression-,Real-,4000-,2-,2021-